* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: white;
}
p {
  color: dimgray;
}
ol li {
  font-size: 20px;
}
h1 {
  font-size: 28px;
  color: darkblue;
  border-bottom: 1px solid #aaaaaa;
}
h3 {
  font-size: 26px;
  color: darkblue;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
  text-align: center;
}
.entrance {
  background-image: url(site_images/entrance_background.jpeg);
}
.logo {
  display: block;
  position: absolute;
  left: 5;
  top: 5;
  right: 5;
  bottom: 5;
}
.nav {
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}
.nav li {
  display: inline;
  padding-right: 20px;
  text-align: center;
  color: #FFFFFF;
}
.nav li:last-child {
  padding-right: 0;
}
.header {
  background-color: #C8102E;
  height: 80px;
}
.content-section{

}
.bio-pic {
  list-style-type: none;
  width: 1%;
}
