* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: white;
}
li a.active {
  color: #951010;
  background-color: white;

}
li a.active {
  color: white;
  background-color: #951010;

}
p {
  color: dimgray;
}
ol li {
  font-size: 20px;
}
h1 {
  font-size: 28px;
  color: darkblue;
  border-bottom: 1px solid #aaaaaa;
}
h3 {
  font-size: 26px;
  color: darkblue;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
  text-align: center;
}
.entrance {
  background-image: url(site_images/entrance_background.jpeg);
}
.logo {
  display: block;
  position: absolute;
  padding: 5px;
}
.nav {
  padding: 30px 10px 10px 10px;
  color: white;
  text-align: center;
  height: 80px;
}

.nav li {
  color: #FFFFFF;
  display: inline;
  font-size: 20px;
  padding-right: 20px;
  text-align: center;
}
.nav li:last-child {
  padding-right: 0;
}
.header {
  background-color: #951010;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 80px;
}
.content-section { 
  padding-top: 50px;
}
.picture-row {
  height: 900px;
  justify-content: center;
  display: flex;
}
.player-container {
  height: 100%;
  padding: 5px;
  width: auto;
}
.season-container {
  height: 100%;
  padding: 5px;
  width: auto;
}
