* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: white;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #951010;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fDC82F;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 50px;
}


/************************* Classes *************************/
.content-section { 
  padding-top: 80px;
}

.header {
  background-color: #951010;
  height: 80px;
}

.logo {
  display: block;
  position: absolute;
  padding: 5px;
}

.picture-row {
  height: 900px;
  justify-content: center;
  display: flex;
}
.player-container {
  height: 100%;
  padding: 5px;
  width: auto;
}
.season-container {
  height: 100%;
  padding: 5px;
  width: auto;
}



/* ~~ Top Navigation Bar ~~ */
.navigation-bar   {
	background-color: #951010;
	height: 80px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* fix navbar to top of screen */
  position: fixed;
  top: 0;
}

.navigation-bar ul   {
	padding: 0px;
	margin: 0px;
  text-align:center;
}
.navigation-bar li    {
	list-style-type: none;
	padding: 0px;
  display:inline;
}
.navigation-bar li a    {
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	box-shadow: 2xp 2px 3px inset;
	border-radius: 5px;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 4.5em;
	margin-right: 16px;
}
.navigation-bar li:first-child {
	margin-left:20px;
	border:#C00;
}
.navigation-bar li a:hover {
  background-color: white;
  color: #951010;
}



/************************* IDs *************************/
#hiltonmagic {
  border-radius: 25px;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: auto;
  max-width: 100%;
}
#hiltonmagic:hover {
  transform: scale(1.1);
}
/*@keyframes bounce {
  25% {
    transform: scale(.75);
  }
  50% {
    transform: scale(.5);
  }
  75% {
    transform: scale(.25);
  }
}*/