/* ~~~~~~~~~~ CSS Reset ~~~~~~~~~~ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


/* ~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~ */
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  text-align: center;
}


/* ~~~~~~~~~~ Top Navigation Bar ~~~~~~~~~~ */
.bar {
  background-color: #951010;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* fix navbar to top of screen */
  position: fixed;
  top: 0;
}
#nav {
  width: 100%;
  list-style: none inside;
  margin:0%;
  padding:0%;
  text-align:center;
}

#nav li {
  display:inline-block; /* ensures the li element takes up entire ul element (for hover) */
  position:relative;
  background: #951010; /* menu background color */
  padding: 0%;
}

#nav li a {
  display: block;
  padding: ;
  text-decoration: none; /* can be used for an underline */
  width:200px; /* this is the width of the menu items */
  line-height:35px; /* this is the hieght of the menu items */
  color:#FFF; /* list item font color */
  font-size: 24px;
  line-height: 3em;
  box-shadow: 2xp 2px 3px inset;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-bottom: solid transparent;
  transition: border-bottom .5s;
}

#nav li a:hover {
  /* highlights current hovered list item and the parent list items when hovering over sub menues */
 background:#ffffff;
 color: #951010;
 border-bottom: solid #fDC82F;
}

#nav li a.active {
  border-bottom: solid #fDC82F;
}      

#nav li li a {
  font-size: 80%; /* smaller font size for sub menu items */
} 
  

/*--- Sublist Styles ---*/
#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none; /* hides sublists */
  }

#nav li:hover ul ul {
  display: none; /* hides sub-sublists */
} 

#nav li:hover ul {
  display: block; /* shows sublist on hover */
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 

#nav li li:hover ul {
  display: block; /* shows sub-sublist on hover */
  margin-left: 200px; /* this should be the same width as the parent list item */
  margin-top:-35px; /* aligns top of sub menu with top of list item */
  }





/* ~~~~~~~~~~ Main Content ~~~~~~~~~~ */
.content-section { 
  padding-top: 5%;
}

.header {
  background-color: #951010;
  height: 80px;
}
h1 {
  font-size: 28px;
  color: #951010;
  border-bottom: 1px solid #aaaaaa;
  background-color: #FFF;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.logo {
  display: block;
  position: absolute;
  padding: .3%;
}

.picture-row {
  height: 900px;
  justify-content: center;
  display: flex;
}

.player-container {
  height: 100%;
  padding: 5px;
  width: auto;
}

.season-container {
  height: 100%;
  padding: 5px;
  width: auto;
}

#hiltonmagic {
  border-radius: 25px;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: auto;
  max-width: 100%;
}

#hiltonmagic:hover {
  transform: scale(1.1);
}
/*@keyframes bounce {
  25% {
    transform: scale(.75);
  }
  50% {
    transform: scale(.5);
  }
  75% {
    transform: scale(.25);
  }
}*/



/* ~~~~~~~~~ Footer  ~~~~~~~~~~ */
.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #951010;
  color: white;
  height: 80px;
}


.footer .footer-content {
  /* responsive padding */
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
}

.rounded-social-buttons {
  text-align: right;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fa-linkedin {
  background: #951010;
  color: white;
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #951010;
}

.rounded-social-buttons .social-button.linkedin {
  background: #951010;
}

.rounded-social-buttons .social-button.twitter {
  background: #951010;
}

.rounded-social-buttons .social-button.youtube {
  background: #951010;
}

.rounded-social-buttons .social-button.instagram {
  background: #951010;
}


.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}
