* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: dimgray;
}
h1 {
  font-size: 28px;
  color: darkblue;
  border-bottom: 1px solid #aaaaaa;
}
h3 {
  font-size: 26px;
  color: darkblue;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
  text-align: center;
}
.logo {
  display: block;
  position: absolute;
  padding: 5px;
}

.header {
  background-color: #951010;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 80px;
}
.content-section { 
  padding-top: 50px;
}
.picture-row {
  height: 900px;
  justify-content: center;
  display: flex;
}
.player-container {
  height: 100%;
  padding: 5px;
  width: auto;
}
.season-container {
  height: 100%;
  padding: 5px;
  width: auto;
}
.nav {
  text-align: center;
  background-color: #951010;
  height: 80px;
}
ul {
  height: 80px;
  list-style-type: none;
  margin-left: 50%;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
li {
  float: left;
  padding-top: 20px;
  text-align: center;
}

li a {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: white;
  color: #951010;
}
