a {
  text-decoration: none;
}
p {
  color: dimgray;
}
ol li {
  font-size: 20px;
}
h1 {
  font-size: 28px;
  color: darkblue;
  border-bottom: 1px solid #aaaaaa;
}
h3 {
  font-size: 26px;
  color: darkblue;
}
body {
  padding: 0px 0px 0px 0px;
}
.entrance {
  background-image: url(site_images/entrance_background.jpeg);
}
.nav {
  padding: 10px 10px 10px 10px;
  color: white;
}
.nav li {
  display: inline;
  padding-right: 20px;
  color: #FFFFFF;
}
.nav li:last-child {
  padding-right: 0;
}
.header {
  background-color: #C8102E;
}
.content-section{

}
.bio-pic {
  list-style-type: none;
  width: 1%;
}
